*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)1%,rgba(255, 255, 255, 0.5)80%), url(4097436.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.text{
    color: rgb(101, 227, 247);
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
    padding-left: 450px;
    white-space: nowrap;
}

.para{
    padding-top: 15px;
    padding-left: 200px;
    font-size: 22px;
    font-family: Arial;
    white-space: nowrap;
}

audio{
    display: none;
}