*{
    margin: 0;
    padding: 0;
}

.main{
    width: fit-content;
    background: linear-gradient(to top, rgba(0,0,0,0.5)1%,rgba(255, 255, 255, 0.5)80%), url(4097436.jpg);
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-right: 120px;
    padding-bottom: 300px;
}

.text{
    color: rgb(231, 204, 157);
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-left: 500px;
    white-space: nowrap;
}

.para{
    color: rgb(0, 0, 0);
    padding-top: 15px;
    padding-left: 200px;
    font-size: 22px;
    font-family: Arial;
    white-space: nowrap;
}

audio{
    display: none;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.menu{
    width: flex;
    float: none;
    height: flex;
    font-size: 28px;
    white-space: nowrap;
}
ul{
    float: none;
    display: flex;
    justify-content: center;

}
ul li{
    list-style: none;
    margin-left: 950px;
    margin-top: 1px;
}
ul li a{
    box-shadow: inset 0 0 0 0 rgb(243, 235, 182);
    text-decoration: none;
    color: rgb(243, 235, 182);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
ul li a:hover{
    color: #000000;
    box-shadow: inset 400px 0 0 0 rgb(243, 235, 182);
}
